.infoOverall{
    color:#fff;
    background-color: #000;
}
.routeAdjust{
    top: -300px;
}
.riderInfo{
    padding: 1em 15em 1em 15em;
    width:100vw;
}
li{
    border:none;
}
.list-group-item{
    background-color: #000;
}
h5 i{
    color: #FF69B4;
}
h6{
    color:#FF69B4;
}
li h5 i{
    color:#fff;
}
.conduct{
    color: #FF69B4;
}
.conductHeader{
    font-size:1.15rem;
}
/* mobile settings */
@media only screen and (max-width: 800px) {
.list-group-horizontal{
    flex-direction: column;
}
iframe{
    width:85vw;
}
.riderInfo{
    padding: 1em;
}
}