<div class="riderInfo">
    <p>&nbsp;</p>
    <h4>FOCO Bike Mob What You Need To Know</h4>
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a [routerLink]="['./']" fragment="importantInfo"><h5><i class="interiorIcon fas fa-info" aria-hidden="true"></i> Code of Conduct</h5></a></li>
            <li class="list-group-item"><a [routerLink]="['./']" fragment="rideRoutes"><h5><i class="interiorIcon fas fa-route" aria-hidden="true"></i> Ride Routes</h5></a></li>
            <li class="list-group-item"><a [routerLink]="['./']" fragment="generalPhoto"><h5><i class="interiorIcon fas fa-images" aria-hidden="true"></i> Photos of Past Rides</h5></a></li>
        </ul>
    </div>
    <p>We are Fort Collins' counterculture, disco-punk rock, artsy, responsibly-irresponsible community who happens to like bikes. You'll find us at the cross-roads of activism and glitter. And we're here to party. Join us for any of our annual group bicycle ride events and check the socials for up to date information. All events require lights, costumes and end with a dance party. <strong>Beep beep, toot toot!</strong></p>
    <p>FoCo Bike Mob exists to create space for the community of Fort Collins to connect, celebrate and partake in two-wheeled wild-ness. We come together to share our skills, resources, merriment and nonsense. We exalt in the expression our strangeness, welcome all weirdos, and root our revelry in a commitment to care for one another and our community environment. We are what you contribute!
    </p>
    <p>&nbsp;</p>
    <h5 id="importantInfo"><i class="interiorIcon fas fa-info" aria-hidden="true"></i> Code of Conduct aka “How We Roll”:</h5>

    <p><strong class="conduct">Leave No Trace:</strong> Take home what you bring, clean up any mess you see. Leave every space you enjoy better than you found it. </p>
    <p><strong class="conduct">Self-Reliance: </strong>Be responsible for your own safety and well being. Ride prepared with what you need to get home safely, including protective and repair gear. Act in accordance with your own comfort and boundaries. Care for yourself and others.</p>
    <p><strong class="conduct">Ride Aware: </strong>Ride on the right, obey lights. Stay with the group to minimize risk to your safety on the road. Follow volunteer and organizer instructions.</p>
    <p><strong class="conduct">Be In Control:</strong> Ride predictably and in control, be aware of others around you. Do not create a dangerous situation for yourself or others. Don’t ride wasted. </p>
    <p><strong class="conduct">Roll By Conflict:</strong> We’re here to enjoy ourselves & one another. Let it go and let’s ride! Be a positive community member at all times, & remind others to do the same. </p>
    <h5>Event Types</h5>
    <h6>Bike Night: Our Main Event</h6>
    <p>For those looking for a two-wheeled party and a chance to be a little ‘responsibly irresponsible.’ This is our marquee community event, held monthly the last weekend of each month, from Apri-October. We gather to ride bikes and have a mobile party-about-town. We obey traffic laws and roll with a no-drop policy. See our code of conduct for details. While not exclusionary, this is not a generally kid-friendly event, as we start and end our ride at bars & venues in town that serve alcohol. </p>
    <h6>Other Community Events</h6>
    <p>Have a dream for an event you’d love to run? Pitch us! There’s so much this community has to offer, and we love creating space for each of us to share our gifts with one another. Whether it’s bike-related or not, we’d love to hear your ideas for cool events. Keep an eye on our calendar or join the newsletter for updates on Bike Night as well as a rotating calendar of special events presented by epic people like you. </p>
    <p>&nbsp;</p>
</div>
<div class="riderInfo">
    <h5 id="rideRoutes"><i class="interiorIcon fas fa-route" aria-hidden="true"></i> Ride Route:</h5>
    <p>See our current route for the next Bike Mob.</p>
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1TFg6uYJmrj6CLbFejgiHIsZRJG56AzKZ" width="640" height="480"></iframe>
    <p>&nbsp;</p>
    
    <h5 id="generalPhoto"><i class="interiorIcon fas fa-images" aria-hidden="true"></i> Photos of Past Rides</h5>
    <app-gallery></app-gallery>
</div>
