<div class="riderInfo">
    <p>&nbsp;</p>
    <h4>FOCO Bike Mob What You Need To Know</h4>
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a [routerLink]="['./']" fragment="importantInfo"><h5><i class="interiorIcon fas fa-info" aria-hidden="true"></i> Important Information</h5></a></li>
            <li class="list-group-item"><a [routerLink]="['./']" fragment="rideRoutes"><h5><i class="interiorIcon fas fa-route" aria-hidden="true"></i> Ride Routes</h5></a></li>
            <li class="list-group-item"><a [routerLink]="['./']" fragment="generalPhoto"><h5><i class="interiorIcon fas fa-images" aria-hidden="true"></i> Photos of Past Rides</h5></a></li>
        </ul>
    </div>
    <p>We are Fort Collins' counterculture, disco-punk rock, artsy, responsibly-irresponsible community who happens to like bikes. You'll find us at the cross-roads of activism and glitter. And we're here to party. Join us for any of our annual group bicycle ride events and check the socials for up to date information. All events require lights, costumes and end with a dance party. <strong>Beep beep, toot toot!</strong></p>
    <p>FoCo Bike Mob exists to create space for the community of Fort Collins to connect, celebrate and partake in two-wheeled wild-ness. We come together to share our skills, resources, merriment and nonsense. We exalt in the expression our strangeness, welcome all weirdos, and root our revelry in a commitment to care for one another and our community environment. We are what you contribute!
    </p>
    <p>&nbsp;</p>
    <h5 id="importantInfo"><i class="interiorIcon fas fa-info" aria-hidden="true"></i> Important Information for Riders</h5>
    <ul>
        <li>Lights are required! All of our events are after dark and need lights. They are required by the city and needed for your safety.</li>
        <li>You are responsible for your own bike. Please give your bike a once-over and check your tires for air before you come out.</li>
        <li>Costumes are necessary and awesome! We are a nonsense bike riding group and everyone wears costumes.</li>
    </ul>
    <div><strong>Code of Conduct aka “How We Roll”:</strong></div>

<p><strong>Leave No Trace:</strong> Take home what you bring, clean up any mess you see. Leave every space you enjoy better than you found it. </p>
<p><strong>Self-Reliance: </strong>Be responsible for your own safety and well being. Ride prepared with what you need to get home safely, including protective and repair gear. Act in accordance with your own comfort and boundaries. Care for yourself and others.</p>
<p><strong>Ride Aware: </strong>Ride on the right, obey lights. Stay with the group to minimize risk to your safety on the road. Follow volunteer and organizer instructions.</p>
<p><strong>Be In Control:</strong> Ride predictably and in control, be aware of others around you. Do not create a dangerous situation for yourself or others. Don’t ride wasted. </p>
<p><strong>Roll By Conflict:</strong> We’re here to enjoy ourselves & one another. Let it go and let’s ride! Be a positive community member at all times, & remind others to do the same. </p>

    <p> </p>
    <p>&nbsp;</p>
</div>
<div class="riderInfo">
    <h5 id="rideRoutes"><i class="interiorIcon fas fa-route" aria-hidden="true"></i> Ride Route:</h5>
    <p>See our current route for the next Bike Mob.</p>
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1TFg6uYJmrj6CLbFejgiHIsZRJG56AzKZ" width="640" height="480"></iframe>
    <p>&nbsp;</p>
    
    <h5 id="generalPhoto"><i class="interiorIcon fas fa-images" aria-hidden="true"></i> Photos of Past Rides</h5>
    <app-gallery></app-gallery>
</div>
