/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
.box .row {
    /* border: 1px dotted grey; */
  }
  .box .row.content {
    flex: 0 1 auto;
  }
  i{
    color: #FF69B4;
}
a{
    color:#FF69B4;
}
html{
  scroll-behavior:smooth;
}
.fc-button{
  background-color:#FF69B4!important;
  border-color:white !important;
  background-image: none;
}
a:hover, a:focus{
  color: #fff;
  -webkit-text-stroke: 0.55px #000;
  text-decoration: none;
}
/* full calendar settings */
.fc-button{
  background-color: #FF69B4!important;
  border-color: #000!important;
}
tr.fc-list-day>th, .fc-list-day-cushion{
  background-color:#000!important;
  color:white !important;
  border:0 !important;
}
.fc-list-day-cushion{
  background-color: hsla(0,0%,5%,.3) !important;
}
.fc-list-event:hover td{
  background-color: #FF69B4 !important;
}
.fc-list-event:hover td a:hover{
  -webkit-text-stroke: 0.55px #fff !important;
}
.btn-info{
  background-color: #FF0099;
  border-color: #ff0099;
}
.btn-info>a{
  color:#fff;
  font-size:x-large;
  font-family: cursive;
}
.btn-info:hover{
  background-color: #fff;
  border-color:#fff;
}
.btn-info:hover>a{
  color: #f09 !important;
  -webkit-text-stroke: 0 ;
}
