.accordion{
    padding: 1em 5em 1em 10em;
    width: 100%;
}
:host {     
    width: 90%;
}
h2:hover button{
    color:#FF69B4;
}
i{
    color: #FF69B4;
}
a{
    color:#FF69B4;
}
/* mobile settings */
@media only screen and (max-width: 800px) {
    .accordion{
        padding: 0.5em;
    }   
}