<!-- <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
            <a onclick="iconToggle(this)" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false">
                <i class="iconChange fa fa-plus-circle"></i>
                text title
            </a>
        </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body">
            <div>panel test</div>
        </div>
    </div>
</div> -->
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="iconChange fa fa-minus-circle "></i>
                What kind of bike do I need?
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Come with us on whatever you want. Road bikes, cruisers, mountain bikes, unicycles, roller blades are all welcome!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="iconChange fa fa-plus-circle"></i>
                Are lights required
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Yes. We bike around sunset and lights are definitely needed!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="iconChange fa fa-plus-circle"></i>
                Are costumes required.
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            They are highly recommended
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <i class="iconChange fa fa-plus-circle"></i>
                  Can I bring my dog?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
              Of course! We always love four legged friends. See some of the bike setups for dogs <a href="/events#generalPhoto">here.</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              <i class="iconChange fa fa-plus-circle"></i>
                  If I'm slow, will I be left behind?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
              We never leave someone behind due to pace. You are expected to be responsible for yourself and able to repair your bike if an issue occurs. We generally go at a pretty slow pace. We always have some riders in the back.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
              <i class="iconChange fa fa-plus-circle"></i>
                  Can I just show up or do I need to sign up?
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
             No sign up required! See times/dates and starting location on the <a target="_blank" href="events">calendar.</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
            <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <i class="iconChange fa fa-plus-circle"></i>
                  Are rides cancelled due to weather?
            </button>
          </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
              Generally no. We have ridden in both snow and rain before. Please prepare appropriately for weather. For extreme weather, there will be a cancellation announcement on the <a href="https://www.facebook.com/groups/focobikemob">Facebook page</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h2 class="mb-0">
            <button onclick="iconToggle(this)" class="btn collapse1 btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <i class="iconChange fa fa-plus-circle"></i>
                  What should I bring?
            </button>
          </h2>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            Riders need to bring their own bike and lights. Please be prepared with anything necessary (lights, helmet, extra tubes, water).
            Generally, we meet for drinks before and/or after the ride, so make sure to bring an ID.  
          </div>
        </div>
      </div>
  </div>