<div class="supportInfo">
    <h4>Get Involved</h4>
	<p>This is a community-driven and supported group and we can use your help. Below are positions to help out.</p>
    <ul>
        <li>Event Crew</li>
        <li>Host</li>
        <li>Trailer Puller</li>
        <li>Safety</li>
        <li>Caboose</li>
        <li>Mech Support</li>
    </ul>
	<h5>Fellowship of the Mob</h5>
    <p>Want to get involved but not sure where to start? Join us for FOCO Bike Mob's monthly leadership meeting at Wolverine Publik Farms in Old Town.</p>
    <p>We meet monthly at 6pm upstairs. We’ll open with introductions, then continue to discuss upcoming events and work on the general evolution of the group.</p>
    <p>Post possible discussion topics on the Event Discussion Page or send an email to <a href="mailto:scott@focobikemob.com">Scott Bolte</a>.</p>
	<h5>Donate</h5>
		<a href="https://venmo.com/u/scott-bolte" target="_blank">Venmo -- 'Scott-Bolte'</a>
    <h5>Our Sponsors</h5>
	<p>We appreciate our sponsors! We couldn't run this club without them.</p>
    <p class="sponsorsImg">
        <img src="/assets/images/tandem_photo.jpg">
    </p>
    <h5>Contact</h5>
    <div class="contact">
        <a href="mailto:info@focobikemob.com"><i class="fa fa-envelope"></i> General Info</a>&nbsp;
        <a href="mailto:scott@focobikemob.com"><i class="fa fa-envelope"></i> Scott Bolte</a>
    </div>
    <div class="socialMed">
    <a href="https://www.facebook.com/groups/focobikemob" target="_blank">
        <i class="fab fa-facebook-square fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;
        </a>
        <a href="https://www.meetup.com/focobikemob/" target="_blank">
        <i class="fab fa-meetup fa-4x" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UClOZcQwk5VktT96nKC-Ujdw " target="_blank">
            <i class="fab fa-youtube fa-4x" aria-hidden="true"></i>
        </a>
    </div>
</div>