.supportInfo{
    padding: 1em 15em 1em 15em;
    background-color: #000;
    color:#fff;
}
.socialMed{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top:2em;
}
.socialMed >a{
    margin-right: 1em;
}
.sponsorsImg img{
    height: 20vh;
    margin: 1em;
}
i{
    color:#fff;
}
.mobb{
    background-color: #fff;
}
/* mobile settings */
@media only screen and (max-width: 800px) {
    .supportInfo{
        padding: 1em;
    } 
    .socialMed{
        width:75%;
    }  
    .fa-4x{
        font-size: 2.5em;
    }
    .sponsorsImg{
        text-align: center;
    }
    .sponsorsImg img{
        width: 75%;
        height: auto;
    }
}