<div class="footerBody">
    <hr class="footerLine middleOpacity">
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="header">
                    <h3>FOCO Bike Mob</h3>
                    <div class="col-sm socialMed">
                        <a href="https://www.facebook.com/groups/focobikemob" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;
                          </a>
                          <a href="https://www.meetup.com/focobikemob/" target="_blank">
                            <i class="fa fa-meetup" aria-hidden="true"></i>
                          </a>
                    </div>
                </div>
            </div>
            <div class="col-sm secondary">
                About
                <div><a href="">Link Description</a></div>
                <div><a href="">Link Description</a></div>

                <div><a href="">Link Description</a></div>
                <div><a href="">Link Description</a></div>
                <div><a href="">Link Description</a></div>
            </div>
            <div class="col-sm secondary">
                Subscribe
                <form  action="https://gmail.us20.list-manage.com/subscribe/post?u=0923df6aa49a39636ea195e5e&amp;id=4996544581" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div><input  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required></div>
                    <div><input type="submit" value="Subscribe"></div>
                </form>
            </div>
        </div>
    </div>
    <hr class="footerLine lowOpacity">
</div>