.footerBody{
  margin-left: 2em;
  margin-right: 2em;
}
h3, .header{
  color:#FF69B4;
  margin-left:.5em;
}
.header{
  font-weight: bold;
}
.footerLine{
  color: #e9828c;
  margin-bottom:.15em;
  height: 2px;
  background-color: #e9828c;
}
.middleOpacity{
  opacity: 0.25;
}
.lowOpacity{
  opacity: 0.15;
  margin-bottom:1em;
}
.socialMed{
  margin-left:7.5%;
}