<div class="footerBody">
    <hr class="footerLine middleOpacity">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>FOCO Bike Mob</h3>
                <div class="socialMed">
                <a href="https://www.facebook.com/groups/focobikemob" target="_blank">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;
                    </a>
                    <a href="https://www.meetup.com/focobikemob/" target="_blank">
                    <i class="fab fa-meetup" aria-hidden="true"></i>
                    </a>&nbsp;
                    <a href="https://www.youtube.com/channel/UClOZcQwk5VktT96nKC-Ujdw " target="_blank">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 secondary">
                <h4>Menu</h4>
                <div><a href="info">About</a></div>
                <div><a href="faqs">FAQ</a></div>
                <div><a href="events">Calendar</a></div>
                <div><a href="support">Join / Support</a></div>
                <div><a href="info#generalPhoto">Photos</a></div>
                <div><a href="info#rideRoutes">Routes</a></div>
            </div>
            <div class="col-sm-5 secondary">
                <h4>Subscribe</h4>
                <form  action="https://gmail.us20.list-manage.com/subscribe/post?u=0923df6aa49a39636ea195e5e&amp;id=4996544581" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div><input  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required></div>
                    <div><input type="submit" value="Subscribe"></div>
                </form>
            </div>
        </div>
    </div>
    <hr class="footerLine lowOpacity">
</div>