<div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use href="#gentle-wave" x="48" y="0" fill="#e9828c" />
            <use xlink:href="#gentle-wave" x="28" y="3" fill="#eba4aa" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="#bc4ba9" />
            <use xlink:href="#gentle-wave" x="108" y="7" fill="#641a80" />
        </g>
    </svg>
</div>
<div class="bm-footer">
    <h4><i class="fa fa-bicycle" aria-hidden="true"></i> Bike Mob Footer</h4>
</div>