<div class="pos-f-t" id="navbar" >
  <nav class="navbar navbar-dark navbar-custom">
    <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="list-group-horizontal navbar-nav ml-auto nav-flex-icons flex-row d-none d-md-flex">
        <li class="list-group-item nav-item"><a href="home"> <span class="text-white h4"><i class="fa fa-bicycle" aria-hidden="true"></i> Home</span> </a></li>
        <li class="list-group-item nav-item"><a href="events"> <span class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Events</span> </a></li>
        <li class="list-group-item nav-item"><a href="info"> <span class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Rider Info</span> </a></li>
        <li class="list-group-item nav-item"><a href="faqs"> <span class="text-white h4"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</span> </a></li>
      </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons list-group-horizontal">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/groups/focobikemob" target="_blank">
          <i class="fab fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.meetup.com/focobikemob/" target="_blank">
          <i class="fab fa-meetup" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="collapse d-md-none" id="navbarToggleExternalContent">
    <div class=" navbar-custom p-4">
      <a href="home">
        <h5 class="text-white h4"><i class="fa fa-bicycle" aria-hidden="true"></i> Home</h5>
      </a>
      <a href="events">
        <h5 class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Events</h5>
      </a>
      <a href="events">
        <h5 class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Rider Info</h5>
      </a>
      <a href="faqs">
        <h5 class="text-white h4"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</h5>
      </a>
    </div>
  </div>
</div>
<img class="img" src="assets/images/Fellowship of the Mob.png" alt="Header Bike Mob Cruiser Group Ride Around Town">