full-calendar{
    min-width:800px;
    max-width: 1000px;
}
.calendar{
    margin: 1em 2em 1em 2em;
    padding:0;
}
.fullWidth{
    width:100vw;
}
@media only screen and (max-width: 800px) {
    full-calendar{
        min-width:200px;
    }
    .calendar{
        margin: .5em 1em .5em 1em;
        padding: 0;
    }
}