.home{
    width:100%;
    flex: 1 1 auto;
    /* background-image: linear-gradient(to right top, #e7717d, #e9828c, #eb939b, #eba4aa, #ebb4b9); */
    /* color:white; */
    padding: 1em 3em 1em 3em;
}
:host{
    display:flex;
    width:100%;
}
.fa-stack .fa{
    color: #eb939b;
}
.fa-stack .fa.fa-bicycle{
    color:white;
    z-index: 100;
}
h3{
    color:#FF69B4;
}
h3 span{
    font-size: larger;
}
img{
    width:50%;
    float: left;
    margin-right: 10px;
    clear:both;
}
h5{
    color: #FF69B4;
}
li:before{
    content: "\f12a";
    color: #FF69B4;
    font-family: FontAwesome;
  display: inline-block;
  padding-right:1em;
}