.overall{
    color: #fff;
    background-color:#000;
    background-image: url('/assets/images/background_pink.png');
    background-position: top center;
    background-attachment: fixed;
    background-size:100% auto;
}
.home{
    width:100%;
    flex: 1 1 auto;
    /* background-image: linear-gradient(to right top, #e7717d, #e9828c, #eb939b, #eba4aa, #ebb4b9); */
    /* color:white; */
    padding: 3em 15em 1em 15em;
}
.bw_background{
    background-image: url('/assets/images/bw_mob_background.png');
    min-height: 300px;
    background-size: 100%;
}
.bw_background>h1{
    max-width: 25%;
    padding-left: 5%;
}
:host{
    display:flex;
    width:100%;
}
.fa-stack .fa{
    color: #FF69B4;
}
.fa-stack .fa.fa-bicycle{
    color:white;
    z-index: 100;
}
.glitter{color: #FF69B4;}
.clear{
    -webkit-text-stroke: 0.25px #ff91c8;
}
p.glitter{    -webkit-text-stroke: 0.25px #FF0099;}
h3 span{
    font-size: larger;
}
h4{
    padding-bottom:1.5em;
}
.img{
    width:40%;
    height: 40%;
    float: left;
    margin-right: 10px;
    clear:both;
    max-width: 600px;
}
li:before{
    content: "";

}
/* events section */
.currentEvent{
    width:75%;
    margin-bottom:10em;
}
.events{
    text-align: center;
}
/* image +intro background & settings */
.backgroundGrey{
    /* background-color:#c4c4c4; */
    background-color: #000;
    color: #fff;
}
.introImg{
    display:flex;
}
.introImg p{
    font-size:larger;
}
.introImgSub{
   padding-bottom:5%;
}
/* listing of core principles settings */
.hide{
    /* display: none; */
    transition: transform 1s, opacity 400ms;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    position:absolute;
}
.row{
    /* overflow:hidden; */
}
.backgroundLights{
    /* padding: 0; */
    min-height:300px;
}
.individualHeader{
    display: inline-block;
    cursor:pointer;
    min-height:3.5em;
    text-align: center;
}
.backgroundText{
    /* background: rgb(0,0,0); */
    border-radius: 15px 50px 30px;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 65%, rgba(134,134,134,1) 100%); */
    margin-bottom: 10%;
}
.answerP{
    padding: 0 10% 0 10%;
}
.limitHeight{
    max-height: 25vh;
}
.divPrinc{
    width: 100%;
    padding: 10px 10px 10px 15px;
    text-align: center;
}
.participation:hover>h5, .radical:hover>h5, .unhinged:hover>h5, .civic:hover>h5, .currentHeader h5{
    /* color:#fff; */
    color: #fff;
}
 .participation:hover ~ #participationP, .radical:hover ~ #radicalP , .unhinged:hover ~ #unhingedP, .civic:hover ~ #civicP, .current{
    /* display: inline; */
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    position: static;
    min-height: 380px;
}
.answerRow{
    height:5vh;
}
.pinkBtn{
    background: 
    linear-gradient(to right bottom, #FF0099, #db5eaa) 
    border-box;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  border: solid .35em transparent;
  padding: .5em;
  margin: .5em;
  
}
.pinkBtn::before{
    position: absolute;
    inset: -.5em;
    border: inherit;
    border-radius: 9em;
    background: inherit;
    background-clip: border-box;
    content: '';
    --full: linear-gradient(red 0 0);
    -webkit-mask: var(--full) padding-box, var(--full);
    -webkit-mask-composite: xor;
    mask: var(--full) padding-box exclude, var(--full);
}
.currentHeader .pinkBtn{
    background: 
    linear-gradient(to right bottom, #FF0099, #db5eaa) 
    border-box;
}
/* reduced screen width only */
@media only screen and (max-width: 1000px)and (min-width: 800px){
    .participation:hover ~ #participationP, .radical:hover ~ #radicalP , .unhinged:hover ~ #unhingedP, .civic:hover ~ #civicP, .current{
        /* display: inline; */
        height:auto;
    }
    .individualHeader{
        width: 100%;
        display: block;
    }
}
/* mobile settings */
@media only screen and (max-width: 800px) {
    .home{
        padding: 1em;
    }   
    .bw_background{
        min-height:50px;
        background-size:auto 100%;
    }
    .introImg{
        display: inline-block;
    }
    .introImgSub{
        padding-bottom:0;
    }
    /* events mobile */
    .currentEvent{
        width:100%;
        margin-bottom:5em;
    }
    /* core principles mobile */
    .row{
        display:inline-block;
    }
    .answerP{
        width:80vw;
    }
    .individualHeader{
        width: 100%;
        display: block;
    }
    .introImgSub{
        padding-bottom:10%;
     }
     .divPrinc{
         float: none;
         width: 100%;
         text-align: left;
     }
     .row>.img{
         width: 100%;
         height: 100%;
     }
     .participation:hover ~ #participationP, .radical:hover ~ #radicalP , .unhinged:hover ~ #unhingedP, .civic:hover ~ #civicP, .current{
        /* display: inline; */
        height:auto;
    }
    
}