<div class="overall">
    <div class="home backgroundGrey">
      <h3>A community for alternative bike inclusivity.</h3>
        <h4>Bikes. Adventure. Costumes.</h4>
        <div class="introImg">
            <!-- <img src="https://drive.google.com/uc?export=view&id=1QO506MiXCFuVO_AASdLyXjHLw4Bcz4dd"> -->
            <img src="https://drive.google.com/uc?export=view&id=1hiuiDMjkb0C18H2S9aj2G8lKlKRipZZo">
            <div class="introImgSub">
              <h1 class="glitter">Welcome to the MOB</h1>
                <p>Yes, we coordinate bike events, but that’s not the point… </p>
                <p>We are Fort Collins’ counterculture, disco-punk rock, artsy, responsibly-irresponsible community who happen to like bikes. </p>
                  <p class="glitter">You’ll find us at the cross-roads of activism and glitter. </p>
                  <p>On the surface it might all just seem like a good time, but take a moment to read through our core principals and you’ll get a much better idea of what this is all about (this is where the juice is, so give us a squeeze):</p>
            </div>
        </div>
    </div>
    <div class="home">
        <h4>Core Principles</h4>
        <div class="container">
            <div class="row">
              <div class="col-3 individualHeader radical currentHeader" id="radicalH" (mouseenter)="applyHover('radicalH', 'radicalP')">
                <h5 class="glitter">Radical Inclusion</h5>
              </div>
              <div class="col-3 individualHeader unhinged" id="unhingedH" (mouseenter)="applyHover('unhingedH', 'unhingedP')">
                <h5 class="glitter">Unhinged Self-Expression</h5>
              </div>
              <div class="col-3 individualHeader participation" id="participationH" (mouseenter)="applyHover('participationH', 'participationP')">
                <h5 class="glitter">Participation</h5>
              </div>
              <div class="col-3 individualHeader civic" id="civicH" (mouseenter)="applyHover('civicH', 'civicP')">
                <h5 class="glitter">Civic responsibility</h5>
              </div>
              <div class="col-12 hide answerP current" id="radicalP">
                <div>Anyone and everyone who wants to be a part of the MOB, can and should be. We are loud and proud about supporting humans of all backgrounds, diversities, sexual identity / orientation, gender, and political views, AS LONG THAT MEANS LOVING EACHOTHER!!! This is the vision we have for all of Fort Collins.</div>
                </div>
               <div class="col-12 hide answerP" id="unhingedP">
                    <div>Let your freak flag fly baybeee! Your uniqueness is a gift to everyone around you so don’t be a stingy mf. However you feel like expressing yourself, that is how we want you. This isn’t only acceptable, it's encouraged. You want to wear a dress, fishnets and stilettos, cool, do it. Love polos? WTF-ever, who cares, you're gorgeous, darling. This applies to you, your bike, your dance moves, and how you move through your daily life. We’ve got plenty of status-quo-conforming “normies.” Be you, please.</div>
               </div>
               <div class="col-12 hide answerP" id="participationP">
                   <div>You. Are. This. Community. Show up! Seriously, we want, and need creative individuals to share what they have. FOCO Bike Mob is a conglomeration of amazing humans who believe in more than what currently is. We all have something to share and your flavor is important. If all you can contribute is yourself, then we are so grateful you made it! If you have more to give, then literally, the sky’s the limit. From welders, to painters, graphics designers, speakers, djs, local businesses and organizations, etc, etc, we want you to come out to play. If you want to get involved just reach out!</div>
               </div>
               <div class="col-12 hide answerP" id="civicP">
                    <div>Fort Collins is our home and we love it here. That said, we can be so much more! Bikes are an amazing tool and heaps of fun, but beyond that, they’re so popular with us because they’re a means to a richer and more meaningful community experience. When the automobile got lobbied into the mainstream our cities and neighborhoods became spread out and the “great alienation” began, with the only means of transportation being the car. You can live out your entire existence traveling from your house-bubble, to your work-bubble via your car-bubble and never connect with the beautiful people around you. While there are many ways to tackle this issue, we are choosing to show up to the conversation via bicycle. We also support public transportation, mixed commercial-residential zoning laws, high density housing and a walkable/rideable city.</div>
                </div>
                <div class="answerRow">&nbsp;</div>
            </div>
          </div>
    </div>
</div>
